@font-face {
  font-family: "semiBold";
  src: url("../fonts/Epilogue/Epilogue-VariableFont_wght.ttf");
}

:root {
  --primary-color: #FFFFFF;
  --secondery-color: #000000;
  --btn-color: #2D2D2D;
  --grey-color: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "semiBold";
}

body {
  background: var(--primary-color);
}

/* ----------NAVBAR-SECTION-------- */

.navbar {
  z-index: 2;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border: none;
}

/* ----------HERO-SECTION-------- */

.hero_section {
  padding-top: 70px;

}

.hero_leftSide h1 {
  color: var(--secondery-color);
  font-weight: 600;
  font-size: 68px;

}

.hero_leftSide h2 {
  color: var(--secondery-color);
  font-size: 40px;
  margin-bottom: 18px;
  font-weight: 600;

}

.hero_leftSide p {
  font-size: 16px;
  margin-bottom: 36px;
  max-width: 90%;
  line-height: 1.7;

}

.mybtn {
  text-decoration: none;
  margin: 0;
  color: var(--primary-color);
  background: var(--btn-color);
  font-size: 12px;
  padding: 16px 36px;
  transition: all 0.3s ease;
  width: fit-content;

}

.mybtn:hover {
  background: var(--primary-color);
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}

.hero_rightSide {
  position: relative;

}

.hero_rightSide .profile_image {
  width: 350px;
  border-top-right-radius: 40%;
  position: relative;

}

.hero_rightSide .red_ractangle {
  position: absolute;
  top: -4px;
  right: -2px;
  width: 80px;

}

.hero_rightSide .green_ractangle {
  position: absolute;
  bottom: 36px;
  left: -40px;
  width: 80px;

}

/* --------ABOUT-SECTION-------*/
/* flex-wrap: wrap;
align-items: flex-start; */
.about_section h2,
.projects_section h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--secondery-color);
}

.about-text {
  font-size: 16px;
  line-height: 1.7;
  color: var(--secondery-color);
  max-width: 70%;
}

.skills {
  background: var(--primary-color);
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.skills h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: var(--secondery-color);
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background: var(--grey-color);
  margin: 10px 0;
  padding: 10px 15px;
  font-weight: 500;
  transition: 0.3s ease;
}

.skills li i {
  color: var(--btn-color);
  font-size: 18px;
  transition: color 0.3s ease;
}

.skills li:hover {
  background: var(--btn-color);
  color: #fff;
  transform: translateX(5px);
}

.skills li:hover i {
  color: #ffffff80;
}

/* ----------PROJECTS-SECTION-------- */

.project-card {
  background: var(--grey-color);
  overflow: hidden;
  transition: all 0.4s ease;
  height: 500px;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);

}

.project-img img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.project-card:hover .project-img img {
  transform: scale(1.05);
}

.project-content {
  padding: 26px 20px;
}

.project-content h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--secondery-color);
}

.project-content p {
  color: var(--secondery-color);
  font-size: 14px;
  margin-top: 10px;
}

.project-content a {
  transition: all 0.3s ease;
  font-size: 12px;
  padding: 10px 26px;
}

.project-content a:hover {
  background: var(--primary-color);
  border-color: var(--btn-color);
  color: var(--btn-color);
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: #000000;
  border: 1px solid var(--primary-color);
  border-radius: 0;
}

/* ----------FOOTER-SECTION-------- */

.footer_section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--secondery-color);
}

.inputDiv input,
textarea {
  background-color: var(--grey-color);
  border: none;
  outline: none;
  color: var(--secondery-color);
  padding: 8px 16px;
  font-size: 16px;
}

.iconDiv i {
  color: var(--btn-color);
  font-size: 28px;
  transition: color 0.3s ease;
}

.footer_leftSide p {
  font-size: 16px;
  max-width: 80%;
  margin-bottom: 40px;
  line-height: 1.7;
}